<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>491660322631-eml2qd2nojo14hv8ohhvbsarnehnq5us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491660322631-eml2qd2nojo14hv8ohhvbsarnehnq5us</string>
	<key>API_KEY</key>
	<string>AIzaSyDrqE0fnX3zKTKNLk4CoPHPfgn14uLhEik</string>
	<key>GCM_SENDER_ID</key>
	<string>491660322631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kgrozav.uSecure</string>
	<key>PROJECT_ID</key>
	<string>usecure-2015f</string>
	<key>STORAGE_BUCKET</key>
	<string>usecure-2015f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:491660322631:ios:b42d446d754d0690</string>
	<key>DATABASE_URL</key>
	<string>https://usecure-2015f.firebaseio.com</string>
</dict>
</plist>